%h2
  %img{ src: gravatar_url(@person.email) }
  = @person.full_name

%h3 Skills

%h4 Love

%ul
  - @person.skill_mappings.where(kind: :love).each do |sm|
    %li= sm.skill.name

%h4 Learn

%ul
  - @person.skill_mappings.where(kind: :learn).each do |sm|
    %li= sm.skill.name

%h4 Loathe

%ul
  - @person.skill_mappings.where(kind: :loathe).each do |sm|
    %li= sm.skill.name
