// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius: 4pt) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

img.avatar {
  @include border-radius(8pt);
}

ul.people {
  li {
    margin: 8pt;
    padding: 15pt;
    background-color: #eee;
    float: left;
    @include border-radius(15pt);
  }
}

div.person {
  margin: 8pt;
  padding: 15pt;
  @include border-radius(20pt);
  background-color: #eee;
  div.desc {
    margin: 8pt;
    padding: 8pt 12pt;
    @include border-radius(5pt);
    background-color: #fff;
    p:last-child {
      margin: 0;
    }
  }
}
